html {
  box-sizing: border-box;
  height: 50%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 10;
  padding: 10;
  
  
  /* Código para poner un cursor personalizado*/
 /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto; */

}


h2 {
  font-size: 1.1em;
}

#contenedor {
  margin: auto 1em;
  text-align: center;

}

#tituloPagina {
  margin-top: 1em;
  margin-bottom: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

#foto {
 height: 300%;
  border: #6fff00 solid 5px;
  margin-top: 50px;
}

.tituloPrediccion {
  font-size: 2em;
}

.prediccion {
  font-size: 1.5em;
}

.prediccion::first-letter {
  text-transform: uppercase;
}

#boton {
  font-size: 0.9em;
  background-color: #fdf900b5;
  color: rgb(255, 0, 0);
  margin-bottom: 2em;
  cursor: pointer;
}